@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../signotator/style.css";

@layer base {
    html {
        background: url(img/bg.png);
    }
    @media (max-width: 48rem) {
        body {
            min-height: calc(100vh + 200px);
        }
        main, footer {
            min-width: 360px;
            max-width: 32rem;
        }
    }
    @media (min-width: 48rem) {
        main { @apply inline-flex flex-row flex-nowrap; }
        footer { max-width: 70rem; }
        main > div { width: 46vw; }
        main > div + div { @apply ml-[2vw]; }
    }
    @media (min-width: 64rem) {
        main > div { width: 32rem; }
        main > div + div { @apply ml-6; }
    }
}

@layer components {

    .Pregunton { @apply text-stone-700; }
    .Pregunton h2 { @apply italic text-stone-600 text-center border-b border-stone-300 mt-3 mb-1; }
    .Pregunton h3 { @apply font-bold text-stone-800; }
    .Pregunton input[type=checkbox] { @apply mr-1; }
    .Pregunton select { @apply bg-stone-50 mr-1 border-b border-orange-300; }
    .Pregunton label + label { @apply ml-3; }

}
